body {
  font-family: "Montserrat";
  text-align: center;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black"sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* navbar section */
.navbar {
  padding: 0 0 4.5rem;
}

.container-fuild {
  background-color: #ff4c68;
  padding: 3% 12% 7%;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
  color: white;
}

.nav-item {
  font-family: "Ubuntu";
  padding: 0 18px;
  font-weight: lighter;
}

.nav-link {
  font-size: 1.2rem;
}

/* title */
.intro {
  color: white;
  font-weight: bold;
}

.big-heading {
  font-size: 3.5rem;
  font-style: oblique;
  text-align: left;
}

.download-btn {
  margin: 5% 2% 5% 0;
}

.iphone {
  width: 60%;
  transform: rotate(23deg);
  position: absolute;
  right: 30%;
}


@media (max-width: 959px) {
  .big-heading,.iphone6 {
    text-align: center;
  }

  .iphone {
    transform: rotate(0);
    position: static;
  }
  .Navigation-Bar{
    width: 100%;
  }
}

/* features */
.features-icons {
  color: #ef8172;
  font-size: 3rem;
  margin: 5% 15%;
}

.features-icons:hover {
  color: #ff2d4e;
}
.features-text{
  font-size: 2rem;
}
#features {
  margin: 0 3%;
  padding: 10% 0;
  background-color: white;
  position: relative;
  z-index: 1;
  ;
}

.features-p {
  font-family: "Ubuntu";
  font-weight: lighter;
  line-height: 1.5;
  width: 100%;
}

/* testimonial */
#testimonials{
  background-color: #ef8172;
  color: #fff;
}

.testimonial-img {
  border-radius: 100%;
  width: 20%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-text {
  font-size: 3rem;
  margin: 50px;
}

@media (max-width : 959px;){
  #testimonials{
    width: 100%;
  }

}

/* press */
#press {
  background-color: #ef8172;
  padding: 5%;
}

.press-logos {
  width: 17%;
  margin: 20px;
}
@media (max-width : 959px;){
  #press{
    width: 100%;
  }

}

/* pricing */
#pricing {
  padding: 3%;
}

.dog-name{
  font-size: 2rem;
}
.section-heading, .price-rate {
  font-size: 3rem;
  margin: 50px;
}

.pricing-card {
  padding: 3% 2%;
}

.btn-dark {
  background-color: #ef8172;
  border: 0;
}

.btn-dark:hover, .btn-outline-dark:hover, .btn-outline-secondary:hover {
  background-color: #ff2d4e;
  border-color: #ff2d4e;
}

.btn-outline-dark, .btn-outline-secondary {
  border-color: #ef8172;
}

/* cta-section */
#cta {
  background-color: #ff2d4e;
  padding: 5% 15%;
  color: #fff;
  line-height: 1.5;
  margin: 50px 0 20px;
  font-weight: bold;
}

@media (max-width : 959px;){
  #cta{
    width: 100%;
  }

}
/* footer */
#footer {
  font-size: .7rem;
  padding: 20px 0;
}
